{
  "bomFormat": "CycloneDX",
  "specVersion": "1.4",
  "serialNumber": "urn:uuid:{{ lab_id | default('lab-01') }}-flask-api-app-sbom",
  "version": 1,
  "metadata": {
    "timestamp": "{{ ansible_date_time.iso8601 }}",
    "component": {
      "type": "application",
      "name": "flask-api-app",
      "version": "1.0.0",
      "description": "Flask API application for Concert CVE remediation lab"
    }
  },
  "components": [
    {
      "type": "library",
      "name": "pyyaml",
      "version": "5.4.1",
      "purl": "pkg:pypi/pyyaml@5.4.1",
      "description": "YAML parser and emitter for Python"
    },
    {
      "type": "library",
      "name": "flask",
      "version": "2.3.2",
      "purl": "pkg:pypi/flask@2.3.2"
    },
    {
      "type": "library",
      "name": "requests",
      "version": "2.31.0",
      "purl": "pkg:pypi/requests@2.31.0"
    }
  ],
  "vulnerabilities": [
    {
      "id": "CVE-2026-52891",
      "source": {
        "name": "NVD",
        "url": "https://nvd.nist.gov/vuln/detail/CVE-2026-52891"
      },
      "ratings": [
        {
          "severity": "critical",
          "score": 9.8,
          "method": "CVSSv3",
          "vector": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H"
        }
      ],
      "cwes": [502],
      "description": "Deserialization of Untrusted Data in PyYAML",
      "affects": [
        {
          "ref": "pkg:pypi/pyyaml@5.4.1"
        }
      ]
    }
  ]
}
